<a href="https://colab.research.google.com/github/GangHyeokLee/python_data_basic/blob/main/1%EC%A3%BC%EC%B0%A8/%EC%9D%B4%EA%B0%95%ED%98%81_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#제어문

##IF문
Q1. 다음 코드의 결과값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" not in a:print("shirt")

elif "need" in a: print("need")

else: print("none")

In [ ]:
#shirt

##While문
Q1. while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해보자

In [2]:
i=0
while True:
  print('*'*(i+1))
  i+=1
  if (i>=5):
    break


#결과값
#*
#**
#***
#****
#*****

*
**
***
****
*****

##For 문
Q1. A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 이용하여 A학급의 평균 점수를 구해 보자

In [5]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

sum = 0
for i in A:
  sum+=i

print(sum/len(A))


#결과값
#79.0

79.0

#함수

## 피보나치 수열


Q1. 첫번째 항의 값이 0이고 두 번째 항의 값이 1일때, 이후에 이어지는 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

0, 1, 1, 2, 3, 5, 8, 13, ...

입력을 정수n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해보자

In [8]:
def fib(n):
  if n == 0: return 0     #n이 0일 때는 0을 리턴
  if n == 1: return 1      #n이 1일 떄는 1을 리턴
  return fib(n-1) + fib(n-2)  #n이 2이상일 때는 그 이전의 두 값을 더하여 리턴

In [9]:
for i in range(10):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34

##문자열 압축하기
Q1. 문자열을 입력 받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시해 보자

> 입력예시: aaabbcccccca

> 출력예시: a3b2c6a1

In [ ]:
#'코드를 작성하시오'
def compress_string(s):
  result = []
  for i in range(len(s)):
    if i == 0:
      


  return result

In [ ]:
print(compress_string("aaabbcccccca"))

##Duplicate Numbers
Q1. 0 ~ 9 까지의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9까지의 모든 숫자가 각각 한 번씩만 사용된 것인지 확인하는 함수를 작성해 보자.

>입력예시 : 0123456789 01234 01234567890 6789012345 012322456789

>출력예시 : true false false true false

In [10]:
#'코드를 작성하시오'

def chkDupNum(s):
  result = set(s)

  if len(result) == len(s):
    return True
  else:
    return False

In [11]:
print(chkDupNum("0123456789"))
print(chkDupNum("01234"))
print(chkDupNum("01234567890"))
print(chkDupNum("6789012345"))
print(chkDupNum("012322456789"))

True
True
False
True
False

#프로그램 구조

##클래스
Q1. 다음과 같이 동작하는 클래스 Calculator를 작성해 보자.

>cal1 = Calculator([1,2,3,4,5])

>cal1.sum() # 15

>cal1.avg() # 3.0

>cal2 = Calculator([6,7,8,9,10])

>cal2.sum() # 40

> cal2.avg() #8.0

In [12]:
class Calculator:
  def __init(self, numberList):
    self.numberList = numberList
  
  def sum(self):
    return sum(self.numberList)

  def avg(self):
    return sum(self.numberList) / len(self.numberList)

In [13]:
cal1 = Calculator([1,2,3,4,5])
print(cal1.sum()) # 15
print(cal1.avg()) # 3.0

TypeError: ignored

In [ ]:
cal2 = Calculator([6,7,8,9,10])
print(cal2.sum()) # 40
print(cal2.avg()) #8.0

##모듈
Q1. 이전 문제에서 작성한 Calculator 클래스를 calculator.py 라는 파일로 저장하자, 그리고 이 파일을 모듈로 사용하려고 한다. 다음처럼 동작하도록 만들어 보자

In [ ]:
from calculator import Calculator

cal1 = Calculator([1,2,3,4,5])
cal1.sum()